* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-color: #c5c5c5;
}

#form-wrapper {
    max-width: 400px;
    margin: 0 auto;
}

.form-title {
    text-align: center;
    margin-bottom: 30px;
}

.form-control {
    margin-bottom: 20px;
}

input {
    border: none;
    outline: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    box-shadow: 1px 2px 4px 4px rgba(0, 0, 0, .2);
}

.btn {
    cursor: pointer;
    border: none;
    outline: none;
    margin-top: 30px;
    padding: 10px 20px;
    width: 40%;
    background-color: rgb(0, 132, 255);
    color: #fff;
    border-radius: 5px;
    box-shadow: 1px 2px 4px 4px rgba(0, 0, 0, .2);
}

.btn:focus {
    transform: scale(.97);
}

/* Books */
#books {
    margin-top: 50px;
    padding: 0 50px;
}

.book-items {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    place-items: center;
    gap: 15px;
}

.book-item {
    width: 100%;
    padding: 10px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 1px 2px 4px 4px rgba(0, 0, 0, .2);
}