@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto',sans-serif;
    background-color: #c5c5c5;
}

#form-wrapper {
    max-width: 400px;
    margin: 0 auto;
}

.form-title {
    font-size: 30px;
    margin: 30px 0;
    text-align: center;
}

.form-control {
    margin-bottom: 20px;
}

input:not(input[type="radio"]) {
    border: none;
    outline: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    box-shadow: 1px 2px 4px 4px rgba(0, 0, 0, .2);
}

.btn {
    cursor: pointer;
    border: none;
    outline: none;
    margin-top: 30px;
    padding: 10px 20px;
    width: 40%;
    background-color: rgb(0, 132, 255);
    color: #fff;
    border-radius: 5px;
    box-shadow: 1px 2px 4px 4px rgba(0, 0, 0, .2);
}

.btn:focus {
    transform: scale(.97);
}

/* Books */
#books {
    margin-top: 50px;
    padding: 0 50px;
}

.books-wrapper {
    display: flex;
    justify-content: center;
}

table {
    border-radius: 5px;
    box-shadow: 1px 3px 4px 5px rgba(0, 0, 0, .2);
    border-collapse: collapse;
    width: 800px;
}

thead {
    text-align: left;
}

th {
    color: #fff;
    background-color: #000;
}

th,td {
    padding: 13px;
    border-spacing: 7px;
}

tr {
    cursor: pointer;
}

tbody tr:nth-child(even){
    background-color: #828080;
}

.error-msg {
    margin-bottom: 25px;
    padding: 10px 0;
    background-color: #fff;
    color: #f00;
    text-align: center;
    font-size: 20px;
    border-radius: 4px;
    display: none;
}

.read {
    opacity: .3;
}

.delete {
    color: #f00;
    background-color: #c5c5c5;
}

tbody tr:nth-child(even) .delete {
    background-color: #828080;
}

.choices-title {
    margin-bottom: 10px;
}

.choices-wrapper,
.choice {
    display: flex;
    gap: 15px;
}

.choice {
    flex-direction: row-reverse;
    gap: 5px;
}

